<a href="https://colab.research.google.com/github/TKhahahah/BSC_DPDM2025/blob/main/Midterm_663020040_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
daily_rain = pd.read_csv('/content/drive/MyDrive/Midterm/Daily rain - (Statistics 2012-2024)/hii_daily_rain.csv')
daily_rain.head()

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type
0,ABRT,2012-01-01 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
1,ABRT,2012-01-03 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
2,ABRT,2012-01-06 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
3,ABRT,2012-01-07 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
4,ABRT,2012-01-08 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily

In [ ]:
daily_rain.shape

(3768463, 13)

In [ ]:
daily_rain.columns

Index(['station_code', 'measure_datetime', 'data', 'station_name', 'latitude',
       'longitude', 'quality_flag', 'basin', 'sub_basin', 'tambon', 'amphoe',
       'province', 'data_type'],
      dtype='object')

In [ ]:
daily_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3768463 entries, 0 to 3768462
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   station_code      object
 1   measure_datetime  object
 2   data              float64
 3   station_name      object
 4   latitude          float64
 5   longitude         float64
 6   quality_flag      object
 7   basin             object
 8   sub_basin         object
 9   tambon            object
 10  amphoe            object
 11  province          object
 12  data_type         object
dtypes: float64(3), object(10)
memory usage: 373.8+ MB

ข้อมูลของไฟล์ daily_rain เป็นข้อมูลเก่าปี 2012 ประกอบด้วย 13 columns ได้แก่ 'station_code'= โค้ดของแต่ละสถานี,
'measure_datetime'=วันที่วัดค่า,
'data'= ข้อมูล,
'station_name'= ชื่อสถานี,
'latitude',
'longitude',
'quality_flag'=ตัวบ่งชี้สถานะคุณภาพข้อมูลน้ำ ,
'basin'= ลุ่มน้ำ,
'sub_basin'=ลุ่มน้ำย่อย,
'tambon'=ตำบล,
'amphoe'=อำเภอ,
'province'=จังหวัด,
'data_type'=ประเภทของข้อมูล

In [19]:
import pandas as pd
import glob
import os

# ระบุ Folder ที่เก็บไฟล์
folder_path = '/content/drive/MyDrive/Midterm/Input - (Operation Daily rain from API_ 2025)/2025-07'

# ดึงไฟล์ที่มีนามสกุล .csv ทั้งหมด
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# ใช้ List Comprehension อ่านไฟล์ทั้งหมดเข้าสู่ List
# (ประหยัดบรรทัดและทำงานเร็วกว่า loop แบบปกติเล็กน้อย)
df_list = [pd.read_csv(f) for f in all_files]

# รวมทุก DataFrame ใน List เข้าด้วยกัน
combined_df7 = pd.concat(df_list, ignore_index=True)

print(f"รวมไฟล์ CSV สำเร็จ! จำนวน {len(all_files)} ไฟล์")

รวมไฟล์ CSV สำเร็จ! จำนวน 31 ไฟล์

In [20]:
combined_df7.tail()

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
27870,2025-07-29 00:00:00+07:00,2025-07-29T07:00:00+07:00,0.0,453,MMMO,2025-07-28
27871,2025-07-29 00:00:00+07:00,2025-07-29T07:00:00+07:00,0.0,207,NBLK,2025-07-28
27872,2025-07-29 00:00:00+07:00,2025-07-29T07:00:00+07:00,0.0,407,DTAN,2025-07-28
27873,2025-07-29 00:00:00+07:00,2025-07-29T07:00:00+07:00,0.0,62,LNR1,2025-07-28
27874,2025-07-29 00:00:00+07:00,2025-07-29T07:00:00+07:00,0.0,256,MKTR,2025-07-28

In [17]:

# ระบุ Folder ที่เก็บไฟล์
folder_path = '/content/drive/MyDrive/Midterm/Input - (Operation Daily rain from API_ 2025)/2025-08'

# ดึงไฟล์ที่มีนามสกุล .csv ทั้งหมด
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# ใช้ List Comprehension อ่านไฟล์ทั้งหมดเข้าสู่ List
# (ประหยัดบรรทัดและทำงานเร็วกว่า loop แบบปกติเล็กน้อย)
df_list = [pd.read_csv(f) for f in all_files]

# รวมทุก DataFrame ใน List เข้าด้วยกัน
combined_df8 = pd.concat(df_list, ignore_index=True)


print(f"รวมไฟล์ CSV สำเร็จ! จำนวน {len(all_files)} ไฟล์")

รวมไฟล์ CSV สำเร็จ! จำนวน 32 ไฟล์

In [18]:
combined_df8.tail()

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
29178,2025-08-30 00:00:00+07:00,2025-08-30T07:00:00+07:00,10.4,300.0,NNKO,2025-08-29,NaN,NaN
29179,2025-08-30 00:00:00+07:00,2025-08-30T07:00:00+07:00,0.0,457841.0,VLGE49,2025-08-29,NaN,NaN
29180,2025-08-30 00:00:00+07:00,2025-08-30T07:00:00+07:00,3.8,513.0,NMUB,2025-08-29,NaN,NaN
29181,2025-08-30 00:00:00+07:00,2025-08-30T07:00:00+07:00,1.4,693.0,PAS001,2025-08-29,NaN,NaN
29182,2025-08-30 00:00:00+07:00,2025-08-30T07:00:00+07:00,0.0,1108707.0,TCP013,2025-08-29,NaN,NaN

In [15]:

# ระบุ Folder ที่เก็บไฟล์
folder_path = '/content/drive/MyDrive/Midterm/Input - (Operation Daily rain from API_ 2025)/2025-09'

# ดึงไฟล์ที่มีนามสกุล .csv ทั้งหมด
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# ใช้ List Comprehension อ่านไฟล์ทั้งหมดเข้าสู่ List
# (ประหยัดบรรทัดและทำงานเร็วกว่า loop แบบปกติเล็กน้อย)
df_list = [pd.read_csv(f) for f in all_files]

# รวมทุก DataFrame ใน List เข้าด้วยกัน
combined_df9 = pd.concat(df_list, ignore_index=True)


print(f"รวมไฟล์ CSV สำเร็จ! จำนวน {len(all_files)} ไฟล์")

รวมไฟล์ CSV สำเร็จ! จำนวน 32 ไฟล์

In [22]:

# ระบุ Folder ที่เก็บไฟล์
folder_path = '/content/drive/MyDrive/Midterm/Input - (Operation Daily rain from API_ 2025)/2025-10'

# ดึงไฟล์ที่มีนามสกุล .csv ทั้งหมด
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# ใช้ List Comprehension อ่านไฟล์ทั้งหมดเข้าสู่ List
# (ประหยัดบรรทัดและทำงานเร็วกว่า loop แบบปกติเล็กน้อย)
df_list = [pd.read_csv(f) for f in all_files]

# รวมทุก DataFrame ใน List เข้าด้วยกัน
combined_df10 = pd.concat(df_list, ignore_index=True)


print(f"รวมไฟล์ CSV สำเร็จ! จำนวน {len(all_files)} ไฟล์")

รวมไฟล์ CSV สำเร็จ! จำนวน 31 ไฟล์

In [24]:

# ระบุ Folder ที่เก็บไฟล์
folder_path = '/content/drive/MyDrive/Midterm/Input - (Operation Daily rain from API_ 2025)/2025-11'

# ดึงไฟล์ที่มีนามสกุล .csv ทั้งหมด
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# ใช้ List Comprehension อ่านไฟล์ทั้งหมดเข้าสู่ List
# (ประหยัดบรรทัดและทำงานเร็วกว่า loop แบบปกติเล็กน้อย)
df_list = [pd.read_csv(f) for f in all_files]

# รวมทุก DataFrame ใน List เข้าด้วยกัน
combined_df11 = pd.concat(df_list, ignore_index=True)


print(f"รวมไฟล์ CSV สำเร็จ! จำนวน {len(all_files)} ไฟล์")

รวมไฟล์ CSV สำเร็จ! จำนวน 30 ไฟล์

In [25]:

# ระบุ Folder ที่เก็บไฟล์
folder_path = '/content/drive/MyDrive/Midterm/Input - (Operation Daily rain from API_ 2025)/2025-12'

# ดึงไฟล์ที่มีนามสกุล .csv ทั้งหมด
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# ใช้ List Comprehension อ่านไฟล์ทั้งหมดเข้าสู่ List
# (ประหยัดบรรทัดและทำงานเร็วกว่า loop แบบปกติเล็กน้อย)
df_list = [pd.read_csv(f) for f in all_files]

# รวมทุก DataFrame ใน List เข้าด้วยกัน
combined_df12 = pd.concat(df_list, ignore_index=True)


print(f"รวมไฟล์ CSV สำเร็จ! จำนวน {len(all_files)} ไฟล์")

รวมไฟล์ CSV สำเร็จ! จำนวน 31 ไฟล์

In [27]:
print(combined_df7.shape)
print(combined_df8.shape)
print(combined_df9.shape)
print(combined_df10.shape)
print(combined_df11.shape)
print(combined_df12.shape)

(27875, 6)
(29183, 8)
(30342, 8)
(31086, 6)
(31086, 6)
(32699, 6)

In [29]:
print(combined_df7.columns)
print(combined_df8.columns)
print(combined_df9.columns)
print(combined_df10.columns)
print(combined_df11.columns)
print(combined_df12.columns)

Index(['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value',
       'tele_station_id', 'tele_station_oldcode', 'measure_datetime'],
      dtype='object')
Index(['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value',
       'tele_station_id', 'tele_station_oldcode', 'measure_datetime',
       'station_code', 'value'],
      dtype='object')
Index(['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value',
       'tele_station_id', 'tele_station_oldcode', 'measure_datetime',
       'station_code', 'value'],
      dtype='object')
Index(['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value',
       'tele_station_id', 'tele_station_oldcode', 'measure_datetime'],
      dtype='object')
Index(['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value',
       'tele_station_id', 'tele_station_oldcode', 'measure_datetime'],
      dtype='object')
Index(['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value',
       'tele_station_id', 'tele_station_oldcode', 'measure_datetime'],
      dtype='object')

In [30]:
print(combined_df7.info())
print(combined_df8.info())
print(combined_df9.info())
print(combined_df10.info())
print(combined_df11.info())
print(combined_df12.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27875 entries, 0 to 27874
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rainfall_datetime       27875 non-null  object
 1   rainfall_datetime_calc  27875 non-null  object
 2   rainfall_value          27875 non-null  float64
 3   tele_station_id         27875 non-null  int64
 4   tele_station_oldcode    27447 non-null  object
 5   measure_datetime        27875 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29183 entries, 0 to 29182
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rainfall_datetime       27915 non-null  object
 1   rainfall_datetime_calc  27915 non-null  object
 2   rainfall_value          27912 non-null  float64
 3   tele_station_id         26647 non-null  float64
 4   tele_station_oldcode    27351 non-null  object
 5   measure_datetime        29183 non-null  object
 6   station_code            1268 non-null   object
 7   value                   1268 non-null   float64
dtypes: float64(3), object(5)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30342 entries, 0 to 30341
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rainfall_datetime       27796 non-null  object
 1   rainfall_datetime_calc  27796 non-null  object
 2   rainfall_value          27796 non-null  float64
 3   tele_station_id         25250 non-null  float64
 4   tele_station_oldcode    26565 non-null  object
 5   measure_datetime        30342 non-null  object
 6   station_code            2546 non-null   object
 7   value                   2546 non-null   float64
dtypes: float64(3), object(5)
memory usage: 1.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31086 entries, 0 to 31085
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rainfall_datetime       31086 non-null  object
 1   rainfall_datetime_calc  31086 non-null  object
 2   rainfall_value          31086 non-null  float64
 3   tele_station_id         31086 non-null  int64
 4   tele_station_oldcode    28890 non-null  object
 5   measure_datetime        31086 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31086 entries, 0 to 31085
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rainfall_datetime       31086 non-null  object
 1   rainfall_datetime_calc  31086 non-null  object
 2   rainfall_value          31086 non-null  float64
 3   tele_station_id         31086 non-null  int64
 4   tele_station_oldcode    28890 non-null  object
 5   measure_datetime        31086 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32699 entries, 0 to 32698
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rainfall_datetime       32699 non-null  object
 1   rainfall_datetime_calc  32699 non-null  object
 2   rainfall_value          32699 non-null  float64
 3   tele_station_id         32699 non-null  int64
 4   tele_station_oldcode    30436 non-null  object
 5   measure_datetime        32699 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.5+ MB
None

ไฟล์ข้อมูลปริมาณน้ำฝนรายวันในเดือนที่ 7-12 แต่ละไฟล์ประกอบด้วย Columns

'rainfall_datetime'=วัน–เวลาที่ข้อมูลปริมาณฝนถูกบันทึกจริงจากระบบ,

'rainfall_datetime_calc'=วัน–เวลาที่ระบบนำมาคำนวณหรือประมวลผลข้อมูลฝน,

'rainfall_value'=ค่าปริมาณน้ำฝนที่วัดได้,

'tele_station_id'=รหัสสถานีโทรมาตร (Telemetering Station ID),

'tele_station_oldcode'=รหัสสถานีเดิม (รหัสเก่า),

'measure_datetime'=วัน–เวลาที่เครื่องมือทำการวัดจริง,

'file_date'=วันที่ของไฟล์ (เพิ่มเข้ามาเอง)

โดยในเดือนที่ 8 และ 9 มี ข้อมูลสูญหายเกิดขึ้น จะมีเพียงแค่ 3 columns ได้แก่

station_code

measure_datetime

value

In [26]:
station = pd.read_csv('/content/drive/MyDrive/Midterm/Input - (Operation Daily rain from API_ 2025)/Stations in the model_HII.csv')
station.head()

   Node        Lat        Long
0  ACRU  15.788054  104.642235
1  BBHN   9.536913   98.579490
2  BBUA  17.372976  103.984436
3  BCNG  17.386840  103.290870
4  BDAR  14.587073  102.495190

#กรองข้อมูลให้เหลือเฉพาะสถานีใน station

In [31]:
station_codes_list = station['Node'].unique().tolist()
print(f"Number of unique station codes: {len(station_codes_list)}")
print("First 5 station codes:", station_codes_list[:5])

Number of unique station codes: 385
First 5 station codes: ['ACRU', 'BBHN', 'BBUA', 'BCNG', 'BDAR']

In [32]:
combined_df7 = combined_df7.rename(columns={'tele_station_oldcode': 'station_id'})
combined_df7_filtered = combined_df7[combined_df7['station_id'].isin(station_codes_list)]
print(f"Original combined_df7 shape: {combined_df7.shape}")
print(f"Filtered combined_df7 shape: {combined_df7_filtered.shape}")
combined_df7_filtered.head()

Original combined_df7 shape: (27875, 6)
Filtered combined_df7 shape: (11285, 6)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,station_id,measure_datetime
0,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.0,306,BJIG,2025-07-09
1,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.0,466,BNAN,2025-07-09
2,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,27.8,139,BLKO,2025-07-09
4,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.0,156,BPK004,2025-07-09
5,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.6,294,BNMK,2025-07-09

In [33]:
combined_df8['station_id'] = combined_df8['tele_station_oldcode'].fillna(combined_df8['station_code'])
combined_df8_filtered = combined_df8[combined_df8['station_id'].isin(station_codes_list)]
print(f"Original combined_df8 shape: {combined_df8.shape}")
print(f"Filtered combined_df8 shape: {combined_df8_filtered.shape}")
combined_df8_filtered.head()

Original combined_df8 shape: (29183, 9)
Filtered combined_df8 shape: (11325, 9)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value,station_id
43,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.0,541.0,THNG,2025-08-02,NaN,NaN,THNG
44,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.8,540.0,VLGE31,2025-08-02,NaN,NaN,VLGE31
45,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.0,538.0,WGCI,2025-08-02,NaN,NaN,WGCI
47,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.4,536.0,RIKK,2025-08-02,NaN,NaN,RIKK
48,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.0,535.0,DKTI,2025-08-02,NaN,NaN,DKTI

In [34]:
combined_df9['station_id'] = combined_df9['tele_station_oldcode'].fillna(combined_df9['station_code'])
combined_df9_filtered = combined_df9[combined_df9['station_id'].isin(station_codes_list)]
print(f"Original combined_df9 shape: {combined_df9.shape}")
print(f"Filtered combined_df9 shape: {combined_df9_filtered.shape}")
combined_df9_filtered.head()

Original combined_df9 shape: (30342, 9)
Filtered combined_df9 shape: (11178, 9)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value,station_id
1,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,0.8,672.0,WTBT,2025-09-23,NaN,NaN,WTBT
2,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,23.4,671.0,DIV002,2025-09-23,NaN,NaN,DIV002
4,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,0.2,611.0,DIV005,2025-09-23,NaN,NaN,DIV005
5,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,0.2,587.0,SKG007,2025-09-23,NaN,NaN,SKG007
8,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,18.4,655.0,TSLM,2025-09-23,NaN,NaN,TSLM

In [35]:
combined_df10 = combined_df10.rename(columns={'tele_station_oldcode': 'station_id'})
combined_df10_filtered = combined_df10[combined_df10['station_id'].isin(station_codes_list)]
print(f"Original combined_df10 shape: {combined_df10.shape}")
print(f"Filtered combined_df10 shape: {combined_df10_filtered.shape}")
combined_df10_filtered.head()

Original combined_df10 shape: (31086, 6)
Filtered combined_df10 shape: (11115, 6)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,station_id,measure_datetime
2,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,15.4,618,SKG005,2025-11-07
6,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,3.6,685,PTLE,2025-11-07
8,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,0.4,806,TTLG,2025-11-07
9,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,0.2,823,TPI001,2025-11-07
12,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,4.0,871,TKRA,2025-11-07

In [36]:
combined_df11 = combined_df11.rename(columns={'tele_station_oldcode': 'station_id'})
combined_df11_filtered = combined_df11[combined_df11['station_id'].isin(station_codes_list)]
print(f"Original combined_df11 shape: {combined_df11.shape}")
print(f"Filtered combined_df11 shape: {combined_df11_filtered.shape}")
combined_df11_filtered.head()

Original combined_df11 shape: (31086, 6)
Filtered combined_df11 shape: (11115, 6)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,station_id,measure_datetime
2,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,15.4,618,SKG005,2025-11-07
6,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,3.6,685,PTLE,2025-11-07
8,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,0.4,806,TTLG,2025-11-07
9,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,0.2,823,TPI001,2025-11-07
12,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,4.0,871,TKRA,2025-11-07

In [37]:
combined_df12 = combined_df12.rename(columns={'tele_station_oldcode': 'station_id'})
combined_df12_filtered = combined_df12[combined_df12['station_id'].isin(station_codes_list)]
print(f"Original combined_df12 shape: {combined_df12.shape}")
print(f"Filtered combined_df12 shape: {combined_df12_filtered.shape}")
combined_df12_filtered.head()

Original combined_df12 shape: (32699, 6)
Filtered combined_df12 shape: (11417, 6)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,station_id,measure_datetime
1,2025-12-03 00:00:00+07:00,2025-12-02T07:00:00+07:00,0.0,135,VLGE03,2025-12-02
9,2025-12-03 00:00:00+07:00,2025-12-02T07:00:00+07:00,0.0,43,NOKK,2025-12-02
10,2025-12-03 00:00:00+07:00,2025-12-02T07:00:00+07:00,0.0,143,NBON,2025-12-02
13,2025-12-03 00:00:00+07:00,2025-12-02T07:00:00+07:00,0.0,119,BNGR,2025-12-02
169,2025-12-03 00:00:00+07:00,2025-12-02T07:00:00+07:00,0.0,939,BKHL,2025-12-02

In [38]:
combined_data_filtered = pd.concat([
    combined_df7_filtered,
    combined_df8_filtered,
    combined_df9_filtered,
    combined_df10_filtered,
    combined_df11_filtered,
    combined_df12_filtered
], ignore_index=True)

print(f"Shape of the combined and filtered data: {combined_data_filtered.shape}")
combined_data_filtered.head()

Shape of the combined and filtered data: (67435, 9)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,station_id,measure_datetime,tele_station_oldcode,station_code,value
0,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.0,306.0,BJIG,2025-07-09,NaN,NaN,NaN
1,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.0,466.0,BNAN,2025-07-09,NaN,NaN,NaN
2,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,27.8,139.0,BLKO,2025-07-09,NaN,NaN,NaN
3,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.0,156.0,BPK004,2025-07-09,NaN,NaN,NaN
4,2025-07-10 00:00:00+07:00,2025-07-10T07:00:00+07:00,0.6,294.0,BNMK,2025-07-09,NaN,NaN,NaN

# ระบุข้อมูลสูญหายแต่ละสถานี แสดงจำนวนและสัดส่วน

In [43]:
relevant_columns = ['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value', 'tele_station_id', 'measure_datetime', 'tele_station_oldcode', 'station_code', 'value']

missing_data_by_column_and_station = pd.DataFrame()

for col in relevant_columns:
    missing_values = combined_data_filtered_cleaned.groupby('station_id')[col].apply(lambda x: x.isnull().sum())
    total_entries = combined_data_filtered_cleaned.groupby('station_id').size()

    summary = pd.DataFrame({
        'missing_count': missing_values,
        'total_entries': total_entries,
        'missing_proportion': missing_values / total_entries
    })
    summary = summary[summary['missing_count'] > 0]
    if not summary.empty:
        summary['column'] = col
        missing_data_by_column_and_station = pd.concat([missing_data_by_column_and_station, summary])

if not missing_data_by_column_and_station.empty:
    missing_data_by_column_and_station = missing_data_by_column_and_station.sort_values(by=['column', 'missing_proportion'], ascending=[True, False])
    print("Missing data per station per column (count and proportion):")
    print(missing_data_by_column_and_station)
else:
    print("No missing data found in the specified columns for any station.")

Missing data per station per column (count and proportion):
            missing_count  total_entries  missing_proportion  \
station_id
MEWG                    3             80            0.037500
CEHM                    3             87            0.034483
YOM001                  3             95            0.031579
VLGE33                  3            125            0.024000
KON005                  3            127            0.023622
...                   ...            ...                 ...
KON005                124            127            0.976378
VLGE33                122            125            0.976000
YOM001                 92             95            0.968421
CEHM                   84             87            0.965517
MEWG                   77             80            0.962500

                       column
station_id
MEWG        rainfall_datetime
CEHM        rainfall_datetime
YOM001      rainfall_datetime
VLGE33      rainfall_datetime
KON005      rainfall_datetime
...                       ...
KON005                  value
VLGE33                  value
YOM001                  value
CEHM                    value
MEWG                    value

[2549 rows x 4 columns]

#คัดสถานีที่มีข้อมูลสูญหาย >= 20% ออก แสดงรายชื่อสถานีที่ถูกคัดออกและจำนวนทีีเหลือ

In [47]:
stations_to_remove_overall = missing_data_by_column_and_station[missing_data_by_column_and_station['missing_proportion'] >= 0.2].index.unique().tolist()

combined_data_filtered_cleaned_final = combined_data_filtered_cleaned[~combined_data_filtered_cleaned['station_id'].isin(stations_to_remove_overall)]

print(f"Stations removed due to >= 20% missing data in any column: {stations_to_remove_overall}")
print(f"Number of stations removed: {len(stations_to_remove_overall)}")
print(f"Original shape of combined_data_filtered_cleaned: {combined_data_filtered_cleaned.shape}")
print(f"New shape of combined_data_filtered_cleaned_final: {combined_data_filtered_cleaned_final.shape}")

Stations removed due to >= 20% missing data in any column: ['BHRA', 'BKHN', 'BKK017', 'BNGR', 'BNLG', 'BPTG', 'BSKJ', 'BSPN', 'CGKM', 'CHI010', 'CHI013', 'CHM001', 'CHN004', 'CHNA', 'CTKN', 'DCCT', 'DGSL', 'KKTO', 'MNRM', 'NAPK', 'NASW', 'NEAK', 'NGPI', 'NNPT', 'NPI002', 'PAS008', 'PMPN', 'PRN001', 'PSLT', 'SGKW', 'SKM004', 'TUKW', 'VLGE07', 'WAN005', 'YCUM', 'VLGE03', 'LNRG', 'NGNG', 'NBON', 'VLGE31', 'MMMO', 'BDCP', 'KRKM', 'NGCH', 'PRC002', 'STH014', 'STH017', 'TLPC', 'WSPN', 'SRKT', 'TSUD', 'CHPA', 'STH011', 'ACRU', 'BBHN', 'BCNG', 'BDAR', 'BDGN', 'BDLH', 'BDMG', 'BGRT', 'BHUN', 'BJIG', 'BKDN', 'BKHL', 'BKK001', 'BKK008', 'BKK015', 'BKK018', 'BKK019', 'BKUG', 'BKWN', 'BLAT', 'BLUG', 'BMDG', 'BMNK', 'BNAN', 'BNHG', 'BNHI', 'BNHO', 'BNKN', 'BNKP', 'BNMK', 'BNPI', 'BNPU', 'BOKA', 'BPIA', 'BPK004', 'BPLA', 'BPPS', 'BSBA', 'BSDE', 'BSMP', 'BSUM', 'BWKG', 'BYNU', 'CATK', 'CBUR', 'CCSS', 'CGDO', 'CGSN', 'CHHA', 'CHI005', 'CHI011', 'CHI012', 'CHM002', 'CHM003', 'CHM004', 'CHR003', 'CHR005', 'CHUN', 'CMSG', 'CPKC', 'CPY003', 'CPY004', 'CPY009', 'CPY013', 'CPY015', 'CPY017', 'CSMO', 'DITO', 'DIV001', 'DIV002', 'DIV004', 'DIV005', 'DKLG', 'DKTI', 'DMKH', 'DSKT', 'DTAN', 'HCTT', 'HKTG', 'HNKA', 'HNRE', 'HSYO', 'HTTM', 'HUYG', 'HYOD', 'HYRT', 'JBLG', 'KABG', 'KAHN', 'KAKG', 'KANG', 'KAOP', 'KGKG', 'KGLN', 'KHHM', 'KHPB', 'KKHA', 'KKPA', 'KMSI', 'KOKN', 'KOLO', 'KON002', 'KON004', 'KOSB', 'KOSK', 'KOSR', 'KPEM', 'KRN002', 'KSPS', 'KTKB', 'KTLE', 'LBI002', 'LEEE', 'MCHI', 'MCRM', 'MDTG', 'MECN', 'MKTR', 'MMNY', 'MRMT', 'MUN014', 'NAKU', 'NAMN', 'NAN001', 'NAN010', 'NAN011', 'NAN013', 'NAN014', 'NANI', 'NAPJ', 'NKMT', 'NKNN', 'NKO002', 'NKOK', 'NKYG', 'NMKH', 'NMKI', 'NMPR', 'NMPT', 'NNKO', 'NOKK', 'NPCT', 'NPI001', 'NPNK', 'NPSD', 'NSRS', 'NTAN', 'NTNG', 'NTST', 'NYK000', 'PAI002', 'PAII', 'PAS001', 'PAS002', 'PASG', 'PDAM', 'PGKH', 'PHON', 'PHPS', 'PIN003', 'PIN004', 'PIN005', 'PLTL', 'PPAN', 'PPCT', 'PPTC', 'PRC003', 'PSLI', 'PTLE', 'PTWY', 'PYMR', 'PYO001', 'RAJ002', 'RAY001', 'RGKG', 'RIKK', 'RNG001', 'RNGH', 'SAY002', 'SBT1', 'SENM', 'SISU', 'SKE002', 'SKE003', 'SKG002', 'SKG005', 'SKG007', 'SKKG', 'SKM005', 'SLBC', 'SMSU', 'SNGT', 'SNKO', 'SOKL', 'SPWA', 'SSRG', 'STH004', 'STH005', 'STH016', 'STH018', 'STH022', 'STH025', 'STH029', 'STH030', 'STWN', 'SVI001', 'SVI002', 'SWAR', 'SWH1', 'SWKL', 'SYTL', 'TAPE', 'TEPT', 'THA001', 'THA003', 'THA006', 'THA010', 'THA011', 'THCG', 'THNG', 'THTN', 'TKFA', 'TKNT', 'TKRA', 'TMLI', 'TNG001', 'TNG002', 'TOGO', 'TON001', 'TPI001', 'TPI002', 'TPI004', 'TPI005', 'TPTN', 'TPUR', 'TRD001', 'TRD002', 'TSLM', 'TTKO', 'TTLG', 'TTWY', 'VLGE14', 'VLGE27', 'VLGE29', 'VLGE42', 'WAN001', 'WAN002', 'WCBR', 'WCTK', 'WEI071', 'WGCI', 'WGKN', 'WGNA', 'WGTG', 'WNMI', 'WPAP', 'WRRS', 'WTBT', 'WTCH', 'WTLG', 'WTSG', 'WWST', 'YGHM', 'YOM009', 'YOM012', 'CGMN', 'KSOD', 'LMPN', 'NAN012', 'NKTI', 'PONG', 'SITP', 'SPPT', 'SWNG', 'TGLG', 'THNM', 'TON006', 'TPPN', 'WCHN', 'YOM003', 'YOM008', 'YOM010', 'BNTK', 'KKWF', 'KNYM', 'TRON', 'VLGE41', 'BRKM', 'LPLE', 'PICI', 'TLAN', 'DNCM', 'TETN', 'DIV003', 'NAN006', 'RBPI', 'VLGE01', 'VLGE32', 'MUN011', 'MEPK', 'PIN006', 'BHMN', 'CLPK', 'CPY012', 'PPRM', 'SAY001', 'NGCG', 'PRGB', 'TGSK', 'CPY010', 'NGBA', 'NKO001', 'BLKO', 'BTHO', 'SKE001', 'WNKH', 'BBUA', 'KWSI', 'STU001', 'CHR004', 'TPI007', 'LK13', 'SLA002', 'LMSK', 'NKSG', 'WBYN', 'KON005', 'VLGE33', 'YOM001', 'CEHM', 'MEWG']
Number of stations removed: 384
Original shape of combined_data_filtered_cleaned: (67435, 9)
New shape of combined_data_filtered_cleaned_final: (0, 9)

#เติมข้อมูลที่หายไปด้วยค่ากลาง(Median) ตาม Day of Year จาก daily_rain แยกตามสถานี แล้วตรวจสอบว่าไม่มี rocords หายไปอีก

In [50]:
# Acknowledge the empty DataFrame issue from the previous step
print("Note: The 'combined_data_filtered_cleaned_final' DataFrame is empty after the previous filtering step that removed all stations.")
print("Proceeding with missing data imputation on 'combined_data_filtered' instead.")

# 1. Prepare daily_rain for median calculation
daily_rain_imputation = daily_rain.copy()
daily_rain_imputation['measure_datetime'] = pd.to_datetime(daily_rain_imputation['measure_datetime'], format='mixed', errors='coerce')
daily_rain_imputation['day_of_year'] = daily_rain_imputation['measure_datetime'].dt.dayofyear

# Rename columns in daily_rain to match combined_data_filtered for consistent merging
daily_rain_imputation = daily_rain_imputation.rename(columns={'station_code': 'station_id', 'data': 'rainfall_value'})

# Calculate median rainfall_value from daily_rain for each station_id and day_of_year
median_rainfall_by_day_station = daily_rain_imputation.groupby(['station_id', 'day_of_year'])['rainfall_value'].median().reset_index()
median_rainfall_by_day_station = median_rainfall_by_day_station.rename(columns={'rainfall_value': 'median_historical_rainfall'})

# 2. Prepare combined_data_filtered for imputation
combined_data_for_imputation = combined_data_filtered.copy()
combined_data_for_imputation['measure_datetime'] = pd.to_datetime(combined_data_for_imputation['measure_datetime'], format='mixed', errors='coerce')
combined_data_for_imputation['day_of_year'] = combined_data_for_imputation['measure_datetime'].dt.dayofyear

# 3. Merge and Impute
# Merge combined_data_for_imputation with historical medians
combined_data_for_imputation = pd.merge(
    combined_data_for_imputation,
    median_rainfall_by_day_station,
    on=['station_id', 'day_of_year'],
    how='left'
)

# Fill missing rainfall_value with the merged median_historical_rainfall
# It's important to only fill NaNs that exist. If median_historical_rainfall is NaN for a given station/day, it won't fill.
combined_data_for_imputation['rainfall_value'] = combined_data_for_imputation['rainfall_value'].fillna(
    combined_data_for_imputation['median_historical_rainfall']
)

# Drop the temporary 'day_of_year' and 'median_historical_rainfall' columns as they are no longer needed
combined_data_for_imputation = combined_data_for_imputation.drop(columns=['day_of_year', 'median_historical_rainfall'])

# Update the main combined_data_filtered to reflect the imputed values
combined_data_filtered = combined_data_for_imputation.copy()

# 4. Verification
print(f"\nNumber of missing 'rainfall_value' records after imputation: {combined_data_filtered['rainfall_value'].isnull().sum()}")

Note: The 'combined_data_filtered_cleaned_final' DataFrame is empty after the previous filtering step that removed all stations.
Proceeding with missing data imputation on 'combined_data_filtered' instead.

Number of missing 'rainfall_value' records after imputation: 0

เราใช้ median แทน mean เพราะ
ข้อมูลฝนมีค่าผิดปกติ (ฝนตกหนักบางวัน)
การกระจายข้อมูลมักเบ้ ไม่เป็นปกติ
median ไม่ถูกดึงด้วยค่า extreme
เติมค่าที่หายไปได้สมจริงกว่า ไม่ทำให้ค่าฝนเพี้ยน

# คำนวณปริมาณผลรวมปริมาณน้ำฝนรายเดือน

In [51]:
import numpy as np

# Ensure 'measure_datetime' is in datetime format
combined_data_filtered['measure_datetime'] = pd.to_datetime(combined_data_filtered['measure_datetime'], errors='coerce')

# Extract year and month
combined_data_filtered['year'] = combined_data_filtered['measure_datetime'].dt.year
combined_data_filtered['month'] = combined_data_filtered['measure_datetime'].dt.month

# Calculate monthly rainfall sum for each station
monthly_rainfall_summary = combined_data_filtered.groupby(['station_id', 'year', 'month'])['rainfall_value'].sum().reset_index()

# Rename columns for clarity as requested
monthly_rainfall_summary = monthly_rainfall_summary.rename(columns={
    'station_id': 'Station ID',
    'rainfall_value': 'Monthly Rainfall',
    'month': 'Month',
    'year': 'Year'
})

# Display the first few rows of the new table
print("Monthly Rainfall Summary:")
print(monthly_rainfall_summary.head())

# Display information about the new DataFrame
print("\nMonthly Rainfall Summary Info:")
monthly_rainfall_summary.info()

Monthly Rainfall Summary:
  Station ID  Year  Month  Monthly Rainfall
0       ACRU  2025      7              83.0
1       ACRU  2025      8             164.8
2       ACRU  2025      9             251.0
3       ACRU  2025     11             104.4
4       ACRU  2025     12               0.2

Monthly Rainfall Summary Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1846 entries, 0 to 1845
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station ID        1846 non-null   object
 1   Year              1846 non-null   int32
 2   Month             1846 non-null   int32
 3   Monthly Rainfall  1846 non-null   float64
dtypes: float64(1), int32(2), object(1)
memory usage: 43.4+ KB

In [52]:
monthly_rainfall_summary.to_csv('monthly_rainfall_summary.csv', index=False)

# GG drive

https://drive.google.com/drive/folders/1o5e5B5AjDPBkJop3uzVcb86QBNEaaXyr?usp=sharing

# PDF Prompt

https://drive.google.com/file/d/1FdXy9_VaxL8DVDjfaqpBHcMJRSExBmCz/view?usp=sharing